@import vars
@import fonts
@import libs

$red: red
$gray: gray	
$white: #FFFFFF
$Orange: #ED683C
$lightOrange: #ed700c
$lightgray: #E5E5E5
$bcgcolor: #FBFBFB
$black: #212223

html, body
  font-size: 16px
//   background-color: #052580
  font-family: 'Open Sans', sans-serif

.flex
  display: flex
  flex-direction: row
  flex-wrap: wrap

.flex-just_space
  justify-content: space-between

.flex-just_center
  justify-content: center

.text-centr
  text-align: center

.flex-align_center
  align-items: center

.flex-direction_column
  flex-direction: column

.flex-just_end
  justify-content: flex-end

.centerWrap
	max-width: 70rem
	margin: 0px auto
	position: relative

.mrg-section
	margin: 4rem 0

.pdn-section
	padding: 4rem 0

h1
	font-family: Open Sans
	font-style: normal
	font-weight: 600
	font-size: 2.1rem
	line-height: 3.2rem

h2
	font-family: Open Sans
	font-style: normal
	font-weight: 600
	font-size: 2rem
	line-height: 3.1rem
	margin: 3rem 0

h4
	font-family: Open Sans
	font-style: normal
	font-weight: 600
	font-size: 1.5rem
	line-height: 2.2rem

h5
	font-family: Open Sans
	font-style: normal
	font-weight: 600
	font-size: 1.1rem
	line-height: 1.5rem

// Блок "наши услуги"
.services
	background-color: $bcgcolor
	.item
		background-color: $white
		padding: 1.5rem 2rem
		border-radius: 5px
		box-shadow: 0rem 0rem 0.4rem rgba(0, 0, 0, 0.1)
		margin-bottom: 2rem
		width: calc(50% - 0.75rem)
	.item:nth-child(2n+1)
    	margin-right: 1.5rem
	.graph
		padding-top: 1rem
		font-family: Open Sans
		font-style: normal
		font-weight: normal
		font-size: 1rem
		line-height: 1.4rem
	p
		margin: 0
	.massage
		padding-left: 1rem
		font-family: Open Sans
		font-style: normal
		font-weight: 600
		font-size: 1.1rem
		line-height: 1.5rem

.btn
	width: 10.5rem
	height: 2.5rem
	background-color: $white
	border-radius: 0.3rem
	border: $lightgray
	border-style: solid
	border-width: 0.1rem
	margin: 1.5rem 0 0 0
	color: $lightgray
	font-weight: 400
	font-size: 1rem
	line-height: 1.2rem
	transition: 200ms linear
	&:hover
		background: $Orange
		color: $white
		border: none
		transition: 200ms linear
	&:active
		background: $lightOrange
		transition: 200ms linear
.gym_img
	max-width: 3.1rem
	max-height: 3.1rem



//блок "Основатель центра"
.founder_center
	.wrapper_main
	.block_one
		width: 50%
	.name_founder
		color: $Orange
		font-size: 1.5rem
		margin: 2rem 0
	.skills
		// width: 28.4rem
		// font-family: Open Sans
		// font-style: normal
		// font-weight: normal
		// font-size: 1rem
		// line-height: 1.5rem
		// color: $black
	.block_two
		width: 50%



//блок "почему мы"
.why_are_we
	background-color: $bcgcolor
	.items
		.item
			background-color: $white
			box-shadow: 0rem 0rem 0.4rem rgba(0, 0, 0, 0.1)
			width: calc(25% - 0.75rem)
			border-radius: 0.3rem
			padding: 2.9rem 2.3rem
		img
			width: 4.3rem
			height: 4.3rem
		p
			width: 12.5rem
			height: 4.9rem
		span
			// width: 16.4rem
			// height: 3.5rem

		.tbc
			margin: 1.7rem 1.7rem
			font-family: Open Sans
			font-weight: 600
			font-size: 1.1rem
			line-height: 1.5rem
			// width: 16.4rem
			height: 3.5rem
		.cont
			font-family: Open Sans
			font-weight: 400
			font-size: 1rem
			line-height: 1.5rem
				
	
		
	



